@import "../styles/variables.scss";

.main_intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--White);
    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
    a {
        font-family: "fraunces";
        font-weight: 900;
        text-decoration: none;
        color: var(--VeryDarkDesaturatedBlue);
        font-size: 0.94rem;
        position: relative;

        &::after {
            content: "";
            height: 10px;
            width: 110%;
            border-radius: 28px;
            opacity: 0.25;
            position: absolute;
            bottom: 0;
            left: -5%;
            z-index: -1;
        }
        &:hover::after {
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }
    }
}

.yellow {
    &::after {
        background-color: var(--Yellow);
    }
}

.red {
    &::after {
        background-color: var(--SoftRed);
    }
}

.order {
    @media screen and (min-width: $desktop) {
        flex-direction: row-reverse;
    }
}
.section_image {
    display: flex;

    picture {
        display: flex;
    }
    img,
    picture {
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: $desktop) {
        width: 50%;
    }
}
.section_detail {
    text-align: center;
    @media screen and (min-width: $desktop) {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
    }
}
.detail_wrap {
    padding: 64px 24px;
    @media screen and (min-width: $desktop) {
        padding: 0;
        width: 60%;
    }
    p {
        color: var(--DarkGrayishBlue);
        margin-bottom: 32px;
        margin-top: 24px;
        font-size: 1.125rem; /*18*/
        line-height: 1.875rem /*30*/;

        @media screen and (min-width: $desktop) {
            margin-bottom: 40px;
            margin-top: 33px;
        }
    }
}
