@import "../styles/variables.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "barlow";
    src: url("../public/fonts/Barlow-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "fraunces";
    src: url("../public/fonts/Fraunces_9pt-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "fraunces";
    src: url("../public/fonts/Fraunces_9pt-Bold.ttf");
    font-weight: 700;
}

:root {
    /* Primary*/

    --SoftRed: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --DarkDesaturatedCyan/*graphic design text*/: hsl(167, 40%, 24%);
    --DarkBlue/*photography text*/: hsl(198, 62%, 26%);
    --DarkModerateCyan/*footer*/: hsl(168, 34%, 41%);

    /*Neutral*/

    --VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --VeryDarkGrayishBlue: hsl(213, 9%, 39%);
    --DarkGrayishBlue: hsl(232, 10%, 55%);
    --GrayishBlue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
html {
    font-size: 16px;
}

body {
    text-align: center;

    @media screen and (min-width: $tablet) {
        text-align: start;
    }
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "fraunces";
    font-weight: 900;
}
h1 {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    color: var(--White);

    @media screen and (min-width: $tablet) {
        font-size: 3.5rem;
    }

    @media screen and (max-width: $smaller) {
        font-size: 2rem;
    }
}
h2 {
    font-size: 2rem;
    color: var(--VeryDarkDesaturatedBlue);
    @media screen and (min-width: $tablet) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: $smaller) {
        font-size: 1.8rem;
    }
}
h3 {
    font-size: 1.75rem;

    @media screen and (max-width: $smaller) {
        font-size: 1.3rem;
    }
}
h4 {
    color: var(--GrayishBlue);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    @media screen and (min-width: $tablet) {
        font-size: 1.25rem;
    }
}
h5 {
    font-size: 1.125rem;
}
p {
    font-family: "barlow";
    font-weight: 600;
}
