@import "../styles/variables.scss";
.main_wrap {
    width: 100%;

    background-size: 100%;
}
.header {
    border: 4px solid yellow;
    position: relative;
    padding: 32px 24px 135px;
    background: url("../public/images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet) {
        padding: 34px 48px 330px;
        background: url("../public/images/desktop/image-header.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }
}

.navigation_wrap {
    width: 100%;
    border: 1px solid mediumvioletred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hamburger_btn {
    background: none;
    border: none;
    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.menu {
    display: none;
    @media screen and (min-width: $desktop) {
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        background-color: transparent;
        position: relative;
        top: 100%;
        margin-top: initial;
        padding: 0;

        a {
            text-decoration: none;
            font-family: "barlow";
            font-weight: 600;
            font-size: 1.125rem;
            color: var(--White);
            margin-right: 50px;
            margin-bottom: 0;
        }
    }
}

.menu_mobile {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: 80px;
    padding: 60px 0 40px;
    a {
        text-decoration: none;
        font-family: "barlow";
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--DarkGrayishBlue);
        margin-bottom: 32px;
    }
    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 30px solid var(--White);
    border-left: 30px solid transparent;
    position: absolute;
    right: 0;
    bottom: 100%;
    @media screen and (min-width: $desktop) {
        display: none;
    }
}
.menu_btn {
    border: none;
    border-radius: 28px;
    background-color: var(--Yellow);
    padding: 16px 32px; /*15px*/
    color: var(--VeryDarkDesaturatedBlue);
    font-family: "fraunces";
    font-weight: 700;
    font-size: 0.94rem;
    width: 140px;
    &:hover {
        background-color: hsl(198, 81%, 75%);
        color: var(--White);
        cursor: pointer;
    }
    @media screen and (min-width: $desktop) {
        background: var(--White);
    }
}
.introduction {
    border: 2px solid salmon;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (min-width: $desktop) {
        margin-top: 105px;
    }
}
.arrow {
    border: 1px solid red;
    margin-top: 52px;
    @media screen and (min-width: $desktop) {
        margin-top: 98px;
    }
}
.main {
    border: 4px solid red;
    width: 100%;
}
.section_details {
    border: 2px solid mediumseagreen;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
}

.section_testimonials {
    border: 2px solid midnightblue;
    width: 100%;
    padding: 64px 24px 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial_container {
    border: 2px solid yellow;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 64px;
    margin-top: 64px;
    @media screen and (min-width: $desktop) {
        width: 80%;

        grid-template-columns: repeat(3, 1fr);
        display: grid;
        column-gap: 30px;
        row-gap: 0;
        margin-top: 80px;
    }
}
.image_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    picture {
        display: flex;
    }
    picture,
    img {
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}
.footer {
    width: 100%;
    background-color: hsl(168, 44%, 70%);
    padding: 64px 24px;

    @media screen and (min-width: $desktop) {
        padding: 72px 0;
    }
}
.footer_container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        path {
            fill: var(--DarkDesaturatedCyan);
        }
    }
}

.link_wrap {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 88px;
    @media screen and (max-width: $smaller) {
        max-width: 200px;
        padding: 72px 0;
    }
    a {
        text-decoration: none;
        font-family: "barlow";
        color: var(--DarkDesaturatedCyan);
        font-weight: 600;
        text-decoration: none;

        &:hover {
            color: var(--White);
            cursor: pointer;
        }
    }
}
.social {
    width: 170px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    a {
        display: flex;
        align-items: center;
    }
    svg {
        &:hover {
            path {
                fill: var(--White);
            }
            cursor: pointer;
        }
    }
}
